---
layout: layouts/home.njk
title: Oisín Quinn
tags:
  - nav
eleventyNavigation:
  key: Home
---

<!-- Green hero section -->
<div class="bg-gradient-to-b from-[#A1F6C6] to-[#CFFFE4]">
  <div
    class="relative flex flex-col md:flex-row md:items-center justify-around text-center md:text-left pt-20 mx-auto max-w-5xl px-8">
    <span class="absolute top-0 right-0 p-4">
      <a class="text-2xl underline" href="{{ '/b/' | url }}">Blog</a>
    </span>
    <div class="flex-none md:pb-8">
      <h1 class="text-5xl font-h1 pb-4 text-custom-grey">
        Hi, I'm
        <button id="underlinedName" class="underline">Oisín</button> :)
      </h1>
      <h2 class="text-lg mr-auto ml-auto">nice to meet you!</h2>
    </div>
    {% image src="img/me-2025-bw.webp", alt="A picture of me, Oisín Quinn.",
    sizes="(min-width: 1200px) 350px, (min-width: 768px) 35vw, 85vw",
    classes="aspect-[677/800] w-full max-w-[350px]", lazy=false,
    fetchpriority="high" %}
  </div>
</div>

<!-- Pink info section -->
<div class="bg-[#F6A1D0] p-6">
  <div class="max-w-4xl mx-auto">
    <h3 class="hidden">About me</h3>
    {% image src="img/ablobwave.gif", alt="An animated gif of a yellow blob
    waving at you.", sizes="50px", classes="ml-auto mr-auto pb-4 w-[50px]" %}
    <div class="p-4">
      {% image src="img/me-yellow-jumper.webp", alt="A picture of me, Oisín
      Quinn, speaking at a tech conference.", sizes=" (min-width: 958px) 432px,
      (min-width: 768px) 50vw, 100vw", classes="h-full md:max-w-1/2
      md:float-left pb-4 md:p-4 md:pl-0", lazy=false %}
      <p class="pt-4 pb-2">
        Hi! I'm Oisín Quinn. I’m a software engineer focused on building
        front-ends on the web. I live in Dublin, Ireland but I'm originally from
        <a
          class="underline font-semibold"
          href="./img/cavan-mentioned.png"
          target="_blank"
          rel="noreferrer"
          >the lovely Cavan</a
        >.
      </p>
      <p class="pb-2">
        I currently work for
        <a
          class="underline font-semibold"
          href="https://www.hubspot.com/"
          target="_blank"
          rel="noreferrer"
          >HubSpot</a
        >, where I build products using React and TypeScript. I consider myself
        to be a product engineer, and I care much more about building the right
        thing than using fancy new tech.
      </p>
      <p class="pb-2">
        I've tried my hand at a lot of different tech over the past few years,
        but I'm a big fan of JavaScript and front-end software development
        (especially React). I grew up as a kid always on the internet, writing
        blog posts about all the latest
        <a
          class="underline font-semibold"
          href="https://en.wikipedia.org/wiki/Club_Penguin"
          target="_blank"
          rel="noreferrer"
          >Club Penguin</a
        >
        tips and tricks and tweeting at way too young of an age. I was amazed at
        how easy it was to create something as complex as a website, and easily
        build something that people could start using straight-away.
      </p>
      <p class="pb-2">
        I love building things on the web, but
        <strong>I also love music</strong>. I love listening to it, talking
        about it, going to gigs, and following my local scene in Dublin.
      </p>
      <p class="clear-left invisible h-0">.</p>
    </div>
  </div>
</div>

<!-- Yellow projects section -->
<div class="bg-[#A1A6F6] p-4">
  <div class="max-w-4xl mx-auto pb-4">
    <h3 class="text-3xl font-bold text-center md:text-left pb-4">
      What I’ve been up to:
    </h3>
    <ul class="list-disc pl-6 space-y-2">
      <li>
        I hosted a college radio show called Quinntessentials for three years.
        This show aired weekly on Belfield FM and I uploaded most of these
        episodes to Mixcloud. Some of these have been copyright-striked since
        then, but I have an archive of all episodes here.
      </li>
      <li>
        I co-organised a student-run tech conference called SISTEM for two
        years. 2020’s edition featured 23 different events, 30+ speakers and had
        200 attendees, raising over €1,500 for charity. It was the most
        challenging and stressful thing I’ve ever done in my life, but also
        probably the most rewarding! Learn more about it here.
      </li>
      <li>
        amhran.ie was a React website that showcased a new Irish song every day.
        I learned a lot about the Irish music scene while running this project.
        In hindsight I bit off way more than I could chew with this (finding a
        new good Irish song every day is tough!), but it was cool to just come
        up with an idea and launch it within a week. Learn more on my blog here.
      </li>
    </ul>
    <p class="pt-4">
      ...and that’s about it! I’ve recently had a lot of ideas for things I want
      to do, but I’ve struggled to actually put those ideas into action. Maybe
      that’ll change soon?
    </p>
  </div>
</div>

<!-- Blue music section -->
<div class="bg-[#F6F1A1] p-4">
  <div class="max-w-4xl mx-auto">
    <h3 class="text-3xl font-bold text-center md:text-left pb-4">
      This week I'm listening to...
    </h3>

    <div class="overflow-auto whitespace-nowrap">
      <!-- An album -->
      {% for album in lastfm %} {% if album.imageSrc %}
      <div
        class="w-40 text-center md:text-left inline-block px-2 align-top whitespace-normal">
        <a href="{{ album.url }}">
          {% image src=album.imageSrc, alt=album.alt, sizes="144px" %}
          <h4 class="font-bold whitespace-normal">{{ album.title }}</h4>
          <p>{{ album.artist }}</p>
        </a>
      </div>
      {% endif %} {% endfor %}
    </div>

    <p class="pt-4">
      If you like what you see, follow me on
      <a
        class="underline font-semibold"
        href="https://www.last.fm/user/Oisin1001"
        >Last.fm</a
      >.
    </p>
  </div>
</div>

<!-- Pink socials section -->
<div class="bg-[#A1F6C6] p-4 pb-8">
  <div class="max-w-4xl mx-auto">
    <h3 class="text-3xl font-bold text-center md:text-left pb-4">
      I don’t post much publicly these days. But you can find me on:
    </h3>
    <ul class="px-4">
      <li class="pb-2">
        <a href="mailto:me@oisin.io">
          <img
            src="img/social/email.svg"
            alt="Email logo"
            height="28px"
            width="24px"
            class="inline-block pr-1" />
          <span class="underline">Email</span>
        </a>
        (I read these!)
      </li>
      <li class="pb-2">
        <a href="https://bsky.app/profile/oisin.io">
          <img
            src="img/social/bluesky.svg"
            alt="Bluesky logo"
            height="28px"
            width="24px"
            class="inline-block pr-1" />
          <span class="underline">Bluesky</span>
        </a>
        (I barely use this but it’s less depressing than “X™: The Everything
        App”)
      </li>
      <li class="pb-2">
        <a href="https://github.com/oisinq">
          <img
            src="img/social/github.svg"
            alt="GitHub logo"
            height="28px"
            width="24px"
            class="inline-block pr-1" />
          <span class="underline">GitHub</span>
        </a>
        (don’t expect too much happening in public here)
      </li>

      <li class="pb-2">
        <a href="https://linkedin.com/in/oisinq">
          <img
            src="img/social/linkedin.svg"
            alt="LinkedIn logo"
            height="28px"
            width="24px"
            class="inline-block pr-1" />
          <span class="underline">LinkedIn</span>
        </a>
        (I barely use this – leave a message in your request if you’re
        connecting!)
      </li>
      <li class="pb-2">
        <a href="https://instagram.com/oisin1001">
          <img
            src="img/social/instagram.svg"
            alt="Instagram logo"
            height="28px"
            width="24px"
            class="inline-block pr-1" />
          <span class="underline">Instagram</span>
        </a>
        (but I probably won’t add you if I don’t know you – sorry!)
      </li>
    </ul>
  </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2" fetchpriority="low"></script>
<script src="https://unpkg.com/tippy.js@6" fetchpriority="low"></script>
<script>
  tippy("#underlinedName", {
    content: `<span class="font-normal font-sans">
        It's an Irish name! It's pronounced [ush-een].
        <img alt="Speaker icon - click to hear an audio file of me pronouncing my name." class="inline-block pl-1" width="26" onclick="pronounceName()" tabindex="0" role="link" onkeydown="pronounceName()" src="/img/audio.svg" />
      </span>
      <audio id="pronunciation-audio" src="/img/ush-een.mp3" preload="none">
        Your browser does not support the <code>audio</code> element.
      </audio>`,
    interactive: true,
    allowHTML: true,
    ignoreAttributes: true,
  });

  console.log("hi, welcome to my website, have fun snooping around 😎");

  function pronounceName() {
    var audio = document.getElementById("pronunciation-audio");
    audio.play();
  }
</script>
