/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  text-align: center;
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
  border-top: none;
}

body {
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  font-family: inherit;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

.cover-container {
  max-width: 42em;
  top: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

a {
  text-decoration: none;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

i {
  font-size: 52px;
  padding: 4px;
}

.link {
  text-decoration: underline;
}

p {
  margin: 6px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot?15816334");
  src: url("./font/fontello.eot?15816334#iefix") format("embedded-opentype"),
    url("./font/fontello.woff2?15816334") format("woff2"),
    url("./font/fontello.woff?15816334") format("woff"),
    url("./font/fontello.ttf?15816334") format("truetype"),
    url("./font/fontello.svg?15816334#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15816334#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  line-height: 1;
  display: inline-block;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail-squared:before {
  content: "\f199";
} /* '' */
.icon-github-squared:before {
  content: "\f300";
} /* '' */
.icon-twitter-squared:before {
  content: "\f304";
} /* '' */
.icon-linkedin-squared:before {
  content: "\f30c";
} /* '' */
