@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  image-rendering: -webkit-optimize-contrast;
}

.fade-out-gradient {
  background-image: linear-gradient(
      to right,
      rgb(199, 255, 252),
      rgb(199, 255, 252)
    ),
    linear-gradient(to right, rgb(199, 255, 252), rgb(199, 255, 252)),
    linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: rgb(199, 255, 252);
  background-size: 30px 100%, 30px 100%, 15px 100%, 15px 100%;
  background-attachment: local, local, scroll, scroll;
}

@layer base {
  @font-face {
    font-family: Fredoka One;
    src: url(../fonts/fredoka.woff2) format("woff2");
    font-display: block;
  }
  /* 
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  } */
}
